<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>   
    <script>
      function initMap() {
        var columbus = {lat: 39.9612, lng: -82.9988};
        //var latitude1 = {{event.latitude}};
        //var longitude1 = {{event.longitude}};
        //var location = {lat:latitude1, lng:longitude1};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: columbus
        });


        //info window to use for each marker
        var infowindow = new google.maps.InfoWindow();
        
        var temp = "{{ events|escapejs }}";
        events = JSON.parse(temp);
        for(var i = 0; i < events.length; i++){            

          placeMarker(events[i]);   
      
        }

        function placeMarker(loc){

          var lat1 = events[i]["fields"]["latitude"]
          var long1 = events[i]["fields"]["longitude"]
          position = {lat: lat1, lng: long1};
          var marker = new google.maps.Marker({
          position: position,
          map: map
        }); 
          console.log(loc);
          //create content for info window
          var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">' + loc["fields"]["event_name"] +  '</h1>'+
        '<div id="bodyContent">'+
        '<p><b>Description: </b>' + loc["fields"]["description"] +'</p>'+
        '<p><b>Address: </b>' + loc["fields"]["address"] + '</p>' +
        '<p><b>Start Time: </b>' + loc["fields"]["start_time"] + '</p>' + 
        '<p><b>End Time: </b>' + loc["fields"]["end_time"] + '</p>' + 
        '</div>'+
        '</div>';
          
          //set click listener
            marker.addListener('click', function() {
              infowindow.close(); //close previous windows
              console.log(contentString);
              infowindow.setContent(contentString);
              infowindow.open(map, marker);
          });
        }
        


      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL7c6Lll2VJzfF1jfqRvfxXk8dyoI_nvU&callback=initMap">
    </script>    

  </body>
</html> 