<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var columbus = {lat: 39.9612, lng: -82.9988};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: columbus
        });
        var marker = new google.maps.Marker({
          position: columbus,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL7c6Lll2VJzfF1jfqRvfxXk8dyoI_nvU&callback=initMap">
    </script>
  </body>
</html>